<style >
    body {
        font-family: 'Segoe UI';
    }

    .weather_container {
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .weather_container h2 {
        margin-bottom: 20px;
    }

    input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        margin-bottom: 20px;
    }

    button {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #0056b3;
    }

    .weather_result {
        margin-top: 20px;
    }

    .weather_result h3 {
        margin-bottom: 10px;
    }

    .error_message {
        margin-top: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .autocomplete {
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-radius: 6px;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 200px;
        overflow-y: auto;
        background-color: white;
    }

    .autocomplete-item {
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        padding: 6px 0px;
    }

    .autocomplete-item:hover {
        background-color: #e9e9e9;
    }
</style >
