@page
@model WeatherApiApp.Pages.IndexModel
@{
    ViewData["Title"] = "Погода в городе";
}

<div class="weather_container">

    <h2>Узнать погоду</h2>

    <form method="post"> 
        <div class="autocomplete">
            <input id="cityInput" asp-for="City" placeholder="Введите город..." autocomplete="off" />
            <div id="autocomplete" class="autocomplete-items"></div>
        </div>
        <br />
        <button type="submit">Узнать погоду</button>
    </form>

    @if (Model.Weather != null)
    {
        <div class="weather_result">
            <h3>Погода в городе <br />@Model.Weather.City</h3>
            <p>Температера: @Model.Weather.Temperature °C</p>
            <p>Описание: @Model.Weather.Description</p>
        </div>
    } else if(Model.WasSubmitted)
    {
        <div class="error_message">Город "@Model.City" не найдет. Попробуйте ещё раз.</div>
    }
</div>